{% extends "base.html" %}
{% block content %}
<h3 class="light-blue-text text-darken-4 center-align header">Add a new blog</h3>
<div class="row card-panel grey lighten-4">
    <form class="col s12" method="POST" action="{{url_for('add_blog')}}">
        <!-- blog category selection-->
        <div class="row">
            <div class="input-field col s12">
             <i class="fas fa-archive prefix light-blue-text text-darken-4"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose category</option>
                    {% for category in categories %}
                        <option value="{{ category.category_name}}">{{ category.category_name}}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Blog Catergory</label>
            </div>
        </div>
        <!-- blog title-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pen-fancy prefix light-blue-text text-darken-4"></i>
                <input id="title" type="text" name="title" minlength="5" maxlength="100" class="validate" required>
                <label for="title">Blog Title</label>
            </div>
        </div>
        <!-- blog content -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="content" name="content" minlength="5" maxlength="2000"
                    class="materialize-textarea" required></textarea>
                <label for="content">Blog Content</label>
            </div>
        </div>
       <!-- add image upload <div>
         <form action="/" method="post" enctype="multipart/form-data">
           <input type="file" name="photos">
        </div> -->
        <!-- date created picker -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-clock prefix light-blue-text text-darken-4"></i>
                <input id="read_time" type="text" name="read_time" minlength="5" maxlength="50"
                    class="timepicker validate" required>
                <label for="read_time">Read Time</label>
            </div>
        </div>
        <!-- date created picker -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                <input id="published_date" type="text" name="published_date" minlength="5" maxlength="60"
                    class="datepicker validate" required>
                <label for="published_date"> Publish Date</label>
            </div>
        </div>
        <!-- date created picker -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-hashtag prefix light-blue-text text-darken-4"></i>
                <input id="tags" type="text" name="tags" minlength="5" maxlength="50"
                    class="validate" required>
                <label for="tags"> Hashtags</label>
            </div>
        </div>
        <!-- submit button-->
        <div class="row">
            <div class="col s12 center-align">
                <button class="btn-large waves-effect waves-light text-shadow" type="submit" name="">Add Blog
                    <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}