{% extends "base.html" %}
{% block content %}
<h2>
    blogs
</h2>
  
    
    <ul class="collapsible popout">
        {% for blog in blogs %}
    <li>
      <div class="collapsible-header white-text light-blue darken-4 text-shadow">
          <i class="fas fa-caret-down"></i>
          <strong> {{ blog.category_name }}</strong>
      </div>
      <div class="collapsible-body">
          <strong>{{ blog.blog_name }}</strong>
          <p> {{ blog.blog_description }}</p>
          <p><small>by {{ blog.author.username }} </small></p>
          <p><small> <i>Published on</i> : {{ blog.published_date }}</small></p>
        </div>
    <li>
    
    {% endfor %}
  </ul>
        
{% endblock %}