{% extends "base.html" %}
{% block content %}
<h2>
    Blogposts
</h2>
  
    
    <ul class="collapsible popout">
        {% for blog in blogs %}
    <li>
      <div class="collapsible-header white-text light-green darken-4 text-shadow">
          <i class="fas fa-caret-down"></i>
          <strong> {{ blog.blog_category }}</strong>
      </div>
      <div class="collapsible-body">
          <strong>{{ blog.blog_title }}</strong>
          <p> {{ blog.blog_description }}</p>
          <p><small>By {{ blog.author_id }} </small></p>
          <p><small> <i>Published on</i>: {{ blog.published_date }}</small></p>
        </div>
    <li>
    
    {% endfor %}
  </ul>
        
{% endblock %}