{% extends "base.html" %}
{% block content %}
  <h3 class="center-align teal-text">Sign In</h3>


<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel grey lighten-4 hoverable">
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-cog prefix"></i>
                    <input id="username" name="username" type="text" class="validate" minlength="5" maxlength="15"
                        pattern="^[a-zA-z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username <i class="fas fa-asterisk"></i></label>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="password-visible fas fa-eye prefix" id="togglePassword"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15"
                        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*-_#?&])([A-Za-z\d@$!%-_*#?&]){5,30}$"
                        class="validate" autocomplete="current-password" required>
                    <label for="password">Password <i class="fas fa-asterisk"></i></label>
                </div>
                 
                    <p> <a href="#resetpassword" class="col s12">Forgot your password?</a></p>
            </div>

            <!-- Sign in -->
            <div class="row">
            <div class="col s12 center-align">
                <button class="btn-large waves-effect green text-shadow" type="submit" name="">Sign In
                    <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align">
            New Here?
            <a href="{{ url_for('register')}}" class="light-cyan-text text-darken-4">Register Account</a>
        </p>
    </div>
</div>
  {% endblock %}
