{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} New Posts{% endblock %}</h1>

{% endblock %}
{% block content %}
<main class="main">
  <section>
    <h1>
      Add a new post
   </h1>
   <form action="/entry" class="form" method="POST">
   <P class="form_input">
     <label for="entry" class="form_label">post Content</label>
     <textarea name="content" id="entry"  class="form-text_ area"cols="30" rows="10"></textarea>
   </P>
   <button type="submit" class="form_submit">Add post</button>
   </form>
  </section>
<section>
  <h1>Recent Posts</h1>
<article class="entry">
<div>
  <h2 class="entry_title"> Abit of a chilly day today</h2>
  <time datetime="18-08-2021">Oct 25</time>
</div>
<p class="entry_content">Today i didnt feel like coding, but thats okay, sometimes one needs a reset</p>
</article>
</section>
</main>







    <!------------ side content---------->
    



{% endblock %}