{% extends "base.html"%}
{% block title %} Privacy {% endblock%}
{% block content %}
<div class="row head-container">
    <div class="col s12">
        <h1 class="center-align">Privacy policy</h1>
        <hr class="breakline">
    </div>
</div>

<!-- Introduction -->
<h1>Introduction</h1>

<p>BlogIt takes your privacy and the protection of your personal data seriously.</p>

<p>This Privacy Policy explains how A BlogIt Corporation (“BlogIt” “we,” or “us”) collects, uses, and discloses information about you. This Privacy Policy applies when you use our websites, mobile applications, and other online products and services that link to this Privacy Policy (collectively, our “Services”), contact our customer service team, engage with us on social media, or otherwise interact with us..</p>

<p>We may change this Privacy Policy from time to time. If we make changes, we will notify you by revising the date at the top of this policy and, in some cases, we may provide you with additional notice (such as adding a statement to our website or providing you with a notification). We encourage you to review this Privacy Policy regularly to stay informed about our information practices and the choices available to you..</p>

<!-- contents -->
<h2>Contents</h2>
<ul class="browser-default">
    <li>Collection of Information</li>
    <li>Use of Information</li>
    <li>Sharing of Information</li>
    <li>Third-Party Embeds</li>
    <li>Your Choices</li>
    <li>Contact Us</li>
</ul>


<h3>COLLECTION OF INFORMATION</h3>
<h5>Information You Provide to Us</h5>
<p>We collect information you provide directly to us. For example, you share information directly with us when you create an account, fill out a form, submit or post content through our Services, request customer support, or otherwise communicate with us. The types of personal information we may collect include your name, display name, username, bio, email address, your content, including your avatar image, photos, blogs published by you, and any other information you choose to provide.</p>



<!-- Review privacy policy -->
<h3>Review of this privacy policy</h3>

<p>We shall update this privacy notice from time to time as necessary.</p>

<!-- Contact us -->
<h4>Contact us</h4>

<p>Use our contact us form below or email us at BlogIt@gmail.com further
    queries, request of copies of your personal information or complaints on how we deal with your personal information.
</p>

{% endblock %}