{% extends "base.html" %}
{% block title %} BlogIt - Profile Not Found {% endblock %}
{% block content %}

<div class="page-header">
    <h1> Profile Not found </h1>
</div>
    <h2>Ooooops
    <p class="text">
        Looks like the page you're looking for has been <i>stoolen</i>.<br /> I hope it didn't get <i>dumped</i> somewhere we can't find.<br /> I know, I know, these puns are <i>crappy</i>!
    </p>


    <a class="floating-btn" href="{{ url_for('home') }}">
        Get back home
    </a>
{% endblock %}