{% extends "base.html"%}
{% block title %} Terms and conditions {% endblock%}
{% block content %}

<div class="row head-container">
    <div class="col s12">
        <h1 class="center-align">Terms and Conditions</h1>
        <hr class="breakline">
    </div>
</div>

<!-- Introduction -->
<h2>Introduction</h2>
<p>Thanks for using BlogIt. Our mission is to deepen people’s understanding of the world and spread ideas that matter.</p>
<p>These Terms of Service (“Terms”) apply to your access to and use of the websites, mobile applications and other online products and services (collectively, the “Services”) provided by A Medium Corporation (“BlogIt” or “we”). By clicking your consent (e.g. “Continue,” “Sign-in,” or “Sign-up,”) or by using our Services, you agree to these Terms, including the mandatory arbitration provision and class action waiver in the Resolving Disputes; Binding Arbitration Section..</p>

<p>
    Our <a href="{{url_for('privacy')}}">Privacy Policy</a> explains how we collect and use your information while our Rules outline your responsibilities when using our Services. By using our Services, you’re agreeing to be bound by these Terms and our Rules. Please see our <a href="{{url_for('privacy')}}"> Privacy Policy </a> for information about how we collect, use, share and otherwise process information about you.
</p>
<p>If you have any questions about these Terms or our Services, please contact us at BlogIt@gmail.com.</p>
<!-- contents -->
<h3>Your Account and Responsibilities</h3>
<p>You’re responsible for your use of the Services and any content you provide, including compliance with applicable laws. Content on the Services may be protected by others’ intellectual property rights. Please don’t copy, upload, download, or share content unless you have the right to do so.</p>
<p>You may need to register for an account to access some or all of our Services. Help us keep your account protected. Safeguard your password to the account, and keep your account information current. We recommend that you do not share your password with others.</p>
<p>If you’re accepting these Terms and using the Services on behalf of someone else (such as another person or entity), you represent that you’re authorized to do so, and in that case the words “you” or “your” in these Terms include that other person or entity.</p>
<p>To use our Services, you must be at least 13 years old.</p>
<p>If you use the Services to access, collect, or use personal information about other BlogIt users (“Personal Information”), you agree to do so in compliance with applicable laws. You further agree not to sell any Personal Information, where the term “sell” has the meaning given to it under applicable laws.</p>
<!-- Review privacy policy -->
<h3>Review of this Terms and Conditions</h3>

<p>We shall update this notice from time to time as necessary.</p>

<!-- Contact us -->
<h4>Contact us</h4>

<p>Use our contact us form below or email us at blogit226@gmail.com further
    queries, request of copies of your personal information or complaints on how we deal with your personal information.
</p>
{% endblock %}